// Main colors
$main-blue: #02162c;
$main-white: #ffffff;
$black-color: #000000;

// Secondary Colors
$dark-blue: #1a2030;
$ghost-white: #f4f3f8;
$gray-color: #8b8b8b;

// Accent-color
$accent-color: #ff5656;
$dark-red: #eb4444;
