.brand-card {
   &__img {
      display: block;
      width: 284px;
      height: 284px;
      border-radius: 20px;
      overflow: hidden;
   }

   &__btn {
      display: none;
   }

   /* Laptop */
   @media (max-width: 1249px) {
      &__img {
         width: 250px;
         height: 250px;
      }
   }

   /* Mobile */
   @media (max-width: 599px) {
      &__img {
         width: 169px;
         height: 169px;
         margin-bottom: 16px;
      }

      &__btn {
         display: inline-flex;
      }
   }

   /* Mobile XS */
   @media (max-width: 389px) {
      max-width: 140px;
      &__img {
         width: 100%;
         height: auto;
      }
   }

   /* Mobile XS */
   @media (max-width: 329px) {
      max-width: 100%;
   }
}
