.page-nav {
   padding-top: 40px;
   padding-bottom: 6rem;
   &__list {
      display: flex;
      column-gap: 10px;
      align-items: center;
   }

   &__item {
      position: relative;

      font-family: "Roboto";
      font-size: 14px;
      font-weight: 300;

      &:not(:last-child) {
         padding-right: 22px;
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            width: 12px;
            height: 12px;
            background: url("../img/svg/page-nav/arrow.svg") center / cover no-repeat;
         }
      }
   }

   &--news {
      padding-bottom: 44px;
   }

   /* Mobile */
   @media (max-width: 599px) {
      display: none;
   }
}
