.popup-password {
   .popup {
      &__content {
         max-height: 90vh;
         overflow-y: auto;
         padding: 7.6rem 4rem 6.8rem;
         width: 550px;
      }

      &__cross {
      }

      &__title {
         text-align: center;
         margin-bottom: 40px;
      }
   }
   &__content {
   }

   &__form {
   }

   &__fieldset {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-bottom: 40px;
   }

   &__btn {
      width: 100%;
   }

   .input {
      height: 48px;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      .popup {
         &__content {
            width: 70vw;
         }
      }
   }

   /* Mobile */
   @media (max-width: 599px) {
      &.active {
         top: 0px;
         bottom: 0;
         left: 0px;
         right: 0;
         transform: unset;
      }

      .popup__cross {
         display: none;
      }

      .popup__content {
         width: 100%;
         height: 100%;
         max-height: 100%;
         padding: 0;
         background-color: $main-white;
         border-radius: 0;
      }

      .popup {
         &__header {
            margin-bottom: 28px;
         }
      }

      &__content {
         margin-bottom: 66px;
         padding: 0 16px;
      }
   }
}
