.popup {
   position: fixed;
   top: 50%;
   left: -99999%;
   z-index: -999;
   opacity: 0;

   &.active {
      left: 50%;
      opacity: 1;
      z-index: 6;
      transform: translate(-50%, -50%);

      transition: opacity 0.2s ease-in;
   }
   &__content {
      position: relative;
      padding: 6rem 6rem 4rem;
      background-color: $main-white;
      border-radius: 30px;
   }

   &__cross {
      position: absolute;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      top: 20px;
      right: 30px;
      width: 33px;
      height: 33px;

      span {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         display: inline-block;
         width: 33px;
         height: 6px;
         background-color: $main-blue;
         border-radius: 100px;

         &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(-45deg);
         }
         &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(45deg);
         }
      }
   }

   &__cross--accent {
      width: 40px;
      height: 40px;
      span {
         width: 40px;
         height: 4px;
         background-color: $accent-color;
      }
   }

   &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__title {
      margin-bottom: 20px;
      font-size: 3.6rem;
      font-weight: 900;
   }

   &__subtitle {
      margin-bottom: 38px;
      max-width: 430px;
      text-align: center;

      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.2px;
      color: #8b8b8b;
   }

   &__btn {
      &--back {
         background-color: $ghost-white;
         span {
            color: $main-blue;
         }

         &:hover,
         &:focus {
            background-color: $accent-color;
            span {
               color: $main-white;
            }
         }

         &:active {
            background-color: $dark-red;
         }
      }
   }

   &__header {
      display: none !important;
      padding: 10px 16px;
      margin-bottom: 39px;
   }

   &__footer {
      display: none !important;
   }

   /* Mobile */
   @media (max-width: 899px) {
      &__content {
         width: 60vw;
      }
      &__cross {
         width: 24px;
         height: 24px;
         span {
            width: 24px;
            height: 4px;
         }
      }
      .popup__cross--accent {
         width: 24px;
         height: 24px;

         span {
            width: 24px;
         }
      }
   }

   /* Mobile */
   @media (max-width: 599px) {
      &__content {
         width: 90vw;
      }

      &__subtitle {
         text-align: left;
      }

      &__btn {
         width: 100%;
      }

      &__header {
         display: flex !important;
      }

      &__footer {
         display: block !important;
         padding: 32px 0 0;
         background-color: $ghost-white;
      }

      &__container {
         width: 390px;
         margin-left: auto;
         margin-right: auto;
         padding-left: 16px;
         padding-right: 16px;
      }
   }

   /* Mobile XS */
   @media (max-width: 389px) {
      &__container {
         width: 100%;
      }
   }
}
