.catalog-news {
   padding-top: 8rem;
   padding-bottom: 13.6rem;
   &__title {
      margin-bottom: 6.5rem;
      font-size: 9.6rem;
      font-weight: 900;
      line-height: 0.45;
      letter-spacing: -1px;
   }

   &__card {
      display: flex;
      align-items: center;
      column-gap: 40px;
      margin-bottom: 57px;
   }

   &__img {
      flex-shrink: 0;
      width: 64rem;
      height: 50rem;
      border-radius: 10px;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;

      .news-link {
         order: 4;
      }
   }

   &__subtitle {
      margin-bottom: 32px;
      font-size: 6.4rem;
      font-weight: 700;
      letter-spacing: -0.404px;
   }

   &__date {
      margin-bottom: 6rem;
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      color: rgba(2, 22, 44, 0.4);
   }

   &__descr {
      max-width: 379px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: -0.2px;
      color: rgba(2, 22, 44, 0.9);
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      column-gap: 31px;
      row-gap: 60px;
   }

   .news-link {
      display: none;

      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.2px;
      color: #fe6666;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      &__card {
         column-gap: 30px;
      }
      &__img {
         width: 50%;
      }
      &__subtitle {
         margin-bottom: 24px;
         font-size: 5.4rem;
      }
   }

   /* Mobile */
   @media (max-width: 599px) {
      padding-top: 44px;
      padding-bottom: 60px;
      &__title {
         margin-bottom: 44px;
         font-size: 32px;
      }
      &__card {
         flex-direction: column;
         row-gap: 16px;
         margin-bottom: 40px;
      }

      &__img {
         width: 100%;
         height: 283px;
      }

      &__date {
         order: 1;
         margin-bottom: 16px;
         font-size: 10px;
      }

      &__subtitle {
         order: 2;
         margin-bottom: 8px;
         font-size: 14px;
         line-height: 1.78;
      }

      &__descr {
         order: 3;
         margin-bottom: 16px;
         color: #02162c;
      }

      &__row {
         row-gap: 40px;
      }

      &__m-card {
         &:nth-last-child(-n + 4) {
            display: none;
         }
      }

      .news-link {
         display: block;
      }
   }
}
